.car-details {
    &__slides {
        height:200px;
    }
    &_list {

    }
    &__image {
        width: 100%;
        height: 400px;
        background: transparent;
        margin-top: 200px;
    }
}
