<section class="car-details {{visibility ? 'show' : 'hide'}}">
  <feature-slider [slides]="slides"></feature-slider>

  <ion-list>
    <ion-item>
      <ion-icon name="analytics" item-start></ion-icon>
        Power
      <span item-end>
        272 kW
      </span>
    </ion-item>
    <ion-item>
      <ion-icon name="aperture" item-start></ion-icon>
        Acceleration 
      <span item-end>
        272 kW
      </span>
    </ion-item>
    <ion-item>
      <ion-icon name="barcode" item-start></ion-icon>
        Top speed
      <span item-end>
        295 km/h
      </span>
    </ion-item>
    <ion-item>
      <ion-icon name="beaker" item-start></ion-icon>
        Fuel consumption 
      <span item-end>
        8.3 (34.0)
      </span>
    </ion-item>
    <ion-item>
      <ion-icon name="bonfire" item-start></ion-icon>
        CO2 emissions
      <span item-end>
        190	
      </span>
    </ion-item>
    <ion-item>
      <ion-icon name="pricetag" item-start></ion-icon>
        Retail Price
      <span item-end>
        £ 77,891
      </span>
    </ion-item>
  </ion-list>
  <button ion-button block color="secondary">Contact manager</button>
</section>
