<ion-slides pager *ngIf="isActive">

  <ion-slide style="background-color: green">
    <ion-toolbar>
      <ion-buttons end>
        <button ion-button (click)="hideIntroduction()">
          Skip
        </button>
      </ion-buttons>
    </ion-toolbar>
    <h2>Slide 1</h2>
  </ion-slide>

  <ion-slide style="background-color: blue">
    <ion-toolbar>
      <ion-buttons end>
        <button ion-button (click)="hideIntroduction()">
          Skip
        </button>
      </ion-buttons>
    </ion-toolbar>
    <h2>Slide 2</h2>
  </ion-slide>

  <ion-slide style="background-color: red">
    <ion-toolbar>
      <ion-buttons end>
        <button ion-button (click)="hideIntroduction()">
          Skip
        </button>
      </ion-buttons>
    </ion-toolbar>
    <img src="http://ionicframework.com/dist/preview-app/www/assets/img/ica-slidebox-img-1.png" alt="">
    <h2>Slide 3</h2>    
  </ion-slide>

   

</ion-slides>

<ng-content [ngIf]="!isActive"></ng-content>
