.info-group__address {
    &_description {
        margin-bottom: 15px;
    }
    &_item {
        margin-bottom: 15px;
    }
    &_title {
        font-weight: bold;
    }
    &_list {
        ion-icon {
            top: 15px;
            position: relative;
        }
    }

}
