<ng-template [ngIf]="type === 'address'">
  <information-group-address  [description]="groupInfo.description"
                              [addresses]="groupInfo.addresses">
  </information-group-address>
</ng-template>
<ng-template [ngIf]="type === 'working_hours'">
  <information-group-schedule [tablesList]="groupInfo.tables"></information-group-schedule>
</ng-template>
<ng-template [ngIf]="type === 'about'">
  <information-group-about [aboutInfo]="groupInfo"></information-group-about>
</ng-template>