<section class="tutorial">
  <ion-slides pager *ngIf="isActive">

    <ion-slide class="tutorial__slide">
      <ion-toolbar>
        <ion-buttons end>
          <button ion-button (click)="hideTutorial()">
            Skip
          </button>
        </ion-buttons>
      </ion-toolbar>
      <img  src="assets/images/tutorial/bluetooth.png" 
            class="tutorial__slide_img"
            alt="Bluetooth">
      
      <h2>Please turn on Bluetooth</h2>
    </ion-slide>

    <ion-slide class="tutorial__slide">
      <ion-toolbar>
        <ion-buttons end>
          <button ion-button (click)="hideTutorial()">
            Skip
          </button>
        </ion-buttons>
      </ion-toolbar>
      <img  src="assets/images/tutorial/wifi.gif"
            class="tutorial__slide_img"
            alt="Bluetooth">
      <h2>Please turn on Wifi</h2>
    </ion-slide>

    <ion-slide class="tutorial__slide">
      <ion-toolbar>
        <ion-buttons end>
          <button ion-button (click)="hideTutorial()">
            Skip
          </button>
        </ion-buttons>
      </ion-toolbar>
      <h2>Work with our application</h2>    
    </ion-slide>

    <ion-slide class="tutorial__slide">
      <ion-toolbar>
        <ion-buttons end>
          <button ion-button (click)="hideTutorial()">
            Skip
          </button>
        </ion-buttons>
      </ion-toolbar>
      <h2>Please Register for better intercation</h2>
      <registration></registration>    
    </ion-slide>

  </ion-slides>

   <ng-content [ngIf]="!isActive"></ng-content> 
</section>

