<section class="tutorial">
  <ion-slides pager *ngIf="isActive">
    <tutorial-item (skipPressed)="onSkip($event)">
      <tutorial-bluetooth></tutorial-bluetooth>
    </tutorial-item>
    <tutorial-item (skipPressed)="onSkip($event)">
      <tutorial-wifi></tutorial-wifi>
    </tutorial-item>
    <tutorial-item (skipPressed)="onSkip($event)">
      <tutorial-app></tutorial-app>
    </tutorial-item>
    <tutorial-item (skipPressed)="onSkip($event)">
      <registration></registration>  
    </tutorial-item>
  </ion-slides>

   <ng-content [ngIf]="!isActive"></ng-content> 
</section>
