.tutorial {
    ion-slide {
        // top: 0;
        // position: absolute;
        height:100vh;
        background: white;
        .slide-zoom {
            position: absolute;
            top: 0;
        }
    }
    &__slide_img {
        max-width: 250px!important;
        max-height: 250px!important;
        margin: 15px!important;
    }
    .toolbar-background {
        background: white;
    }
}
