<section class="registration">
  <div class="registration__title">Registration</div>
  <button ion-button color="light">
    <ion-icon name="logo-facebook"></ion-icon>    
    via Facebook
  </button>
  <button ion-button color="light">
    <ion-icon name="logo-linkedin"></ion-icon>
    via Linkedin
  </button>

  <ion-list>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="gender">
        <ion-option value="f">Female</ion-option>
        <ion-option value="m">Male</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>E-Mail Address</ion-label>
      <ion-input type="email" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Mobile Number</ion-label>
      <ion-input type="tel" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Accept Terms & Conditions</ion-label>
      <ion-checkbox [(ngModel)]="terms"></ion-checkbox>
    </ion-item>

    <button ion-button color="secondary">Register</button>

  </ion-list>
</section>
